<%- include base/header.ejs %>
    <div class="list">
        <h3 class="page-title">相关数据</h3>
        <% if(result.list.length > 0){%>
        <ul class="list-result">
            <% result.list.forEach(function(item){%>
            <li class="clearfix item">
                <a href="<%=serverPath%>admin/queryBookFileInfo.action?bookId=<%=item.bookId%>" title="" class="pic" target="_blank">
                    <img src="<%= item.bookImage%>" alt="">
                </a>
                <div class="detail">
                    <button class="collect" data-book="<%=item.bookId%>">收藏</button>
                    <h2><a href="<%=serverPath%>admin/queryBookFileInfo.action?bookId=<%=item.bookId%>" target="_blank"><%=item.bookName%></a></h2>
                    <p><span class="p-title">出版时间: </span><%=item.publishDate%></p>
                    <p><span class="p-title">类型:</span><%=item.bookType%></p>
                    <p><span class="p-title">ISBN:</span><%=item.bookISBN%></p>
                    <% var deslist = item.bookDesc.split('*')%>
                    <p class="des">
                        <span class="p-title">描述:</span> 
                        <span><%=deslist[0]%>,<%=deslist[1]%></span> 
                    </p>
                    <div class="b-catalog clearfix">
                        <%if(deslist.length > 2){%>
                        <span class="p-title">目录:</span>
                        <h2><%=deslist[2]%></h2>
                        <%}%>
                        <%if(deslist.length > 3){%>
                        <ul data-show='false'>
                            <%for(var i = 3;i< deslist.length;i++){%>
                            <li><%=deslist[i]%></li>
                            <%}%>
                        </ul>
                        <!-- <button class="showCbtn">展开目录</button> -->
                        <%}%>
                        <%if(deslist.length > 3  && deslist[3].length>0){%>
                        <button class="showCbtn">展开目录</button>
                        <%}%>
                    </div>
                </div>
            </li>
            <%});%>
        </ul>
        <div class="page">
            <form action="/sourceList" method="get">
                <a href="/sourceList?page=1&bookISBN=<%=bookISBN%>">首页</a>
                <% if(result.hasPreviousPage){%>
                <% var prePage = result.currentPage - 1%>
                <a href="/sourceList?page=<%=prePage%>&bookISBN=<%=bookISBN%>">上一页</a>
                <%}%>
                <input type="text" value="<%=result.currentPage%>" id="curPage" name="page"><span class="total"> /&nbsp; &nbsp;<%=result.totalPage%></span>
                <input type="hidden" name="bookISBN" value="<%=bookISBN%>">
                <% if(result.hasNextPage){%>
                <% var nextPage = result.currentPage + 1%>
                <a href="/sourceList?page=<%=nextPage%>&bookISBN=<%=bookISBN%>">下一页</a>
                <%}%>
                <a href="/sourceList?page=<%=result.totalPage%>&bookISBN=<%=bookISBN%>">末页</a>
                <button id="go" type="submit">Go</button>
            </form>
        </div>
        <%}else{%>
        <div class="empty-page">
            <img src="/images/empty1.png" alt="">
        </div>
        <%}%>
    </div>
<%- include base/base.ejs %>
<script >
    (function(){
        layui.use(['layer'],function(){
            var layer = layui.layer;
            $('.list-result').on('click', '.collect', function(event) {
                var that = $(this);
                var bookId = that.attr('data-book');
                var loading = layer.load();
                $.ajax({
                    url: '<%=serverPath%>my/addMyFavorite4Json.action?callback=?' ,
                    data: {
                        "bookId" : bookId
                    },
                    dataType: 'json',
                    crossDomain: true,
                    success: function(data){
                        //console.log(data);
                        if (data && data.jsonRet == 200) {
                            layer.alert('收藏成功！',{
                                time: 3000,
                                skin: 'layui-layer-molv'
                            });
                        } else{
                            layer.alert('收藏失败！',{
                                time: 3000,
                                skin: 'layui-layer-molv'
                            });
                        }
                        layer.close(loading);
                    },
                    error: function(x,h,r){
                        console.log(x,h,r);
                        layer.alert('服务器异常！',{
                            time: 3000,
                            skin: 'layui-layer-molv'
                        });
                        layer.close(loading);
                    }
                })
            });
        })

        $('.showCbtn').on('click',  function(event) {
            var that = $(this);
            var ul = that.prev();
            ul.toggle(200);
            var show = ul.attr('data-show');
            if (show == 'true') {
                that.html('展开目录');
                ul.attr('data-show','false');
            } else{
                that.html('收起目录');
                ul.attr('data-show','true');
            }
        });
    })()
</script>

<%- include base/footer.ejs %>